* {
    margin: 0;
    border: none;
    padding: 0;
    background: black;
    box-sizing: border-box;
}


#canvas1 {
    border: 3px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#rex-char,
#enemy-1,
#background,
#eggenemy,
#meat,
#heart,
#angry-egg {
    display: none;
}