/*Main Body Generic Style*/
* {
    margin: 0;
    border: none;
    padding: 0;
    background: black;
    box-sizing: border-box;
}

/*Title Screen Styling*/
#start-screen {
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 720px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background: url(../images/nightbackgroundtitle.png) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    touch-action: none;
}

a {
    text-decoration: none;
    color: white;
    background: rgb(10, 0, 0, 0);
}

a:active {
    color: white;
    text-decoration: none;
}

a:after {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

#start-screen h1 {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    width: 100%;
    color: white;
    background: rgb(10, 0, 0, 0);
    font-family: cursive;
}

#start-game {
    font-family: cursive;
    color: red;
    border: none;
    background: rgb(10, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    cursor: pointer;
}

#mute,
#fullscreen {
    background: rgb(10, 0, 0, 0);
    color: white;
    cursor: pointer;
}

#buttons li {
    list-style-type: none;
    display: block;
    float: right;
    margin: 10px;
    border-radius: 20%;
    background: rgb(10, 0, 0, 0.5);
}

#start-screen h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Canvas Style*/
#canvas1 {
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: none;
    touch-action: none;
}

.canvas-img {
    display: none;
}

/*instruction screen style*/
#start-screen em {
    background: rgb(10, 0, 0, 0.5);
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    font-family: cursive;
    border-radius: 20%;
}

#controls {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(10, 0, 0, 0.5);
    width: 80%;
    text-align: center;
    border-radius: 10%;
}

#controls li {
    color: white;
    background: rgb(10, 0, 0, 0.2);
    list-style-type: none;
    font-size: 15px;
    line-height: 30px;
}

#controls strong {
    background: rgb(10, 0, 0, 0.2);
}