* {
    margin: 0;
    border: none;
    padding: 0;
    background: black;
    box-sizing: border-box;
}

#game-container{
    width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
}

#canvas1 {
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#rex-char,
#enemy-1,
#background,
#eggenemy,
#meat,
#heart,
#angry-egg {
    display: none;
}


#buttons {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -5%);

}

#buttons li {
    list-style-type: none;
    display: block;
    float: left;
    
}

#mute,
#fullscreen {
    font-size: 15px;
    text-align: center;
    background: black;
    color:white;
    cursor: pointer;
    border: white 2px solid;
    margin-left: 10px;
    height:30px;
    border-radius:20%;
    padding: 3px;
}

@media screen and (max-height:414px) {

    #mute,
    #fullscreen {
        display: none;
    }
}